<ion-view title="{{videoModel.title}}">
<ion-content>
	<div class="list card">
	  <div class="item">
	    <h3>{{videoModel.cat}}</h3>
	    <p>
	      <span class="subdued">{{videoModel.year}}, </span>
	      <span class="subdued">session {{videoModel.session}}</span>
	    </p>	    
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    
	    <fb-iconed-toggle 
          icon-on = "ion-ios-star"
          icon-off = "ion-ios-star-outline"
          text-on = "unlike it"
          text-off = "like it"
          callback-get-state = "favorite.isOn()"
          callback-on = "favorite.onOn()"
          callback-off = "favorite.onOff()">
        </fb-iconed-toggle>

	    <fb-iconed-toggle 
          icon-on = "ion-ios-checkmark"
          icon-off = "ion-ios-checkmark-outline"
          text-on = "viewed"
          text-off = "not viewed"
          callback-get-state = "viewed.isOn()"
          callback-on = "viewed.onOn()"
          callback-off = "viewed.onOff()">
        </fb-iconed-toggle>

	    <a class="tab-item tab-open-browser" ng-click="goToAppleWebSite()">
	      <i class="icon ion-share"></i>
	      open browser
	    </a>
	  </div>	  

	  <div class="item item-body">
	    <h4>{{videoModel.title}}</h4>
	    <p>
	      {{videoModel.desc}}
	    </p>
		<a ng-click="goToAppleWebSite()" class="button button-block button-balanced">
		  View video on apple.com
		</a>	    
	  </div>

	</div>
</ion-content>
</ion-view>