<ion-view title="Showing {{filtered.length}} videos">

  <ion-nav-buttons side="right">
      <a ng-click="openSearchModal()" class="button button-icon icon ion-search"></a> 
  </ion-nav-buttons>      

  <ion-content class="has-footer">

      <ion-list>

      <a  ng-href="#/detail/{{video.id}}" 
          class="item item-icon-right" 
          ng-class="{ 'item-divider': video.divider }" 
          collection-repeat="video in $root.filtered = (videos 
                  | orderBy: ['year', 'cat', 'session', 'title', 'desc']
                  | filter: { 
                            cat: searchModel.cat,
                            title: searchModel.title,
                            year: searchModel.year,
                            session: searchModel.session,
                            desc: searchModel.desc
                          }
                  | platformFilter: searchModel.platform
                  | favoriteFilter: searchModel.favorite
                  | viewedFilter: searchModel.viewed
                  )
                  " 
          item-width="100%" item-height="135px">

        <div class="row">
          <h3 class="col cat">{{video.cat}}</h3>
          <span class="col platform">{{video.platform | formatPlatform}}
          </span> 
        </div>   
        <div class="row">
          <h4 class="col col-100 title">{{video.title}}</h4>
        </div> 
        <div class="row">
          <p class="col description">{{video.desc}}</p>
        </div>
        <div class="row">
          <span class="col year">session {{video.session}}, in <span>{{video.year}}</span></span>
        </div>                             
        <i class="icon ion-chevron-right"></i>
      </a>
    </ion-list>
  </ion-content>  

</ion-view>