<ion-modal-view ng-controller="SearchFormCtrl">
    <ion-header-bar class="bar-positive">
		<h1 class="title">Results: {{$root.filtered.length}}</h1>
		<button class="button" ng-click="closeSearchForm()">OK</button>
    </ion-header-bar>

    <ion-content>	
		<div class="list">

			<label class="item item-input item-select">
			  <div class="input-label">
			    year
			  </div>
			  <select ng-model="searchModel.year" ng-options="option.code as option.label for option in yearMenuOptions"> </select>
			</label>

			<label class="item item-input item-select">
			  <div class="input-label">
			    platform
			  </div>
			  <select ng-model="searchModel.platform" ng-options="option.code as option.label for option in platformMenuOptions"></select>
			</label>			

			<label class="item item-input item-stacked-label">
				<span class="input-label">Category</span>
				<input type="text" ng-model="searchModel.cat" placeholder="for example: App Controller">
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Title</span>
				<input type="text" ng-model="searchModel.title" placeholder="for example: App Controller">
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Session</span>
				<input type="text" ng-model="searchModel.session" placeholder="for example: App Controller">
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Description</span>
				<input type="text" ng-model="searchModel.desc" placeholder="for example: App Controller">
			</label>		

		</div>    
    </ion-content>

	<ion-footer-bar class="search-criteria-panel scroll bar bar-footer">
	  	<ul>
		  	<li class="tag"
		  		ng-repeat="(key, value) in searchModel" 
		  		ng-show="value"
		  		ng-click="removeFilter(key)">
		    		{{key}}:{{value}}<i>x</i>
			</li>
		</ul>
	</ion-footer-bar>

</ion-modal-view>