<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Main list Tab - includes favorites and viewed videos -->
  <ion-tab title="Learn" icon-on="ion-university" icon-off="ion-university" href="#/tab/videos">
    <ion-nav-view name="tab-videos"></ion-nav-view>
  </ion-tab>

  <!-- Favorite videos Tab -->
  <ion-tab title="Favorites" icon-on="ion-thumbsup" icon-off="ion-thumbsup" href="#/tab/favorites">
    <ion-nav-view name="tab-videos"></ion-nav-view>
  </ion-tab>

  <!-- Viewed videos Tab -->
  <ion-tab title="Viewed" icon-on="ion-refresh" icon-off="ion-refresh" href="#/tab/viewed">
    <ion-nav-view name="tab-videos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
