
ion-list {
	a.item {

		.col {
			padding: 5px 0 0 0;
		}

		.year {
			line-height: 12px;
			font-style: italic;
			color: #AFA7A7;   
			font-size: 12px;

			span {
				font-weight: bold;
			}
		}

		.platform {
			text-align: right;
			font-style: italic;
			color: #ccc;
		}
	
	}	
}

	
