.search-criteria-panel {

	height: auto;
	border-top: 1px solid #BBA7A7;

	label {
		width:50px;
	}

	ul {
		padding:0;
		margin:0;
		list-style-type:none;
	}
	.tag {
		margin: 2px;
		display: inline-block;
		float: left;
		width: auto;
		background-color: #6495ED;
		color: black;
		text-align: center;
		padding: 0px 11px;
		border-radius: 20px;
		font-size: 12px;

		i {
			background: #DB3453;
			background-image: -webkit-linear-gradient(top, #770534, #DB3453);
			background-image: linear-gradient(to bottom, #770534, #DB3453);		
			-webkit-border-radius: 28;
			border-radius: 28px;
			-webkit-box-shadow: 0px 1px 9px #666666;
			box-shadow: 0px 1px 9px #666666;
			font-family: Arial;
			color: #ffffff;
			font-size: 11px;
			padding: 0 5px;
			text-decoration: none;
			right: -8px;
			bottom: 1px;
			position: relative;

			&:hover {
				background: #770534;
				background-image: -webkit-linear-gradient(top, #DB3453, #770534);
				background-image: linear-gradient(to bottom, #DB3453, #770534);
				text-decoration: none;
			}		
		}
	}
}