<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script> 

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <script src="cordova.js"></script>
    <script src="lib/angular-ios9-uiwebview.patch.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>

  </head>
  <body ng-app="wwdcvideoapp">

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>        
    </ion-nav-bar>     
    
    <ion-nav-view></ion-nav-view> 

    <ion-tabs ng-controller="TabsCtrl" class="tabs-icon-top tabs-color-active-positive">

      <!-- Main list Tab - includes favorites and viewed videos -->
      <ion-tab title="Learn" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ng-click="setAsHome()">
      </ion-tab>

      <!-- Favorite videos Tab -->
      <ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ng-click="setAsFavorite()">
      </ion-tab>

      <!-- Viewed videos Tab -->
      <ion-tab title="Viewed" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline" ng-click="setAsViewed()">
      </ion-tab>

    </ion-tabs>    

  </body>
</html>